<div *ngIf="employee">
  <h3>Employee: {{ employee.nom }} {{ employee.prenom }}</h3>
  <h4>Congés:</h4>
  <div *ngIf="conges">
    <ul>
      <li *ngFor="let conge of conges">
        <p><strong>Type de Congé:</strong> {{ conge.typeConge }}</p>
        <p><strong>Date de Début:</strong> {{ conge.dateDebut | date }}</p>
        <p><strong>Date de Fin:</strong> {{ conge.dateFin | date }}</p>
        <p><strong>Statut:</strong> {{ conges.statut }}</p>
        <button (click)="deleteConge(conge.id)" class="btn btn-danger">Supprimer</button>
      </li>
    </ul>
  </div>
  <div *ngIf="!conges || conges.length === 0">
    <p>Aucun congé enregistré pour cet employé.</p>
  </div>
  <button (click)="showAddCongeForm()" class="btn btn-info">Ajouter un congé</button>
  <app-add-conge *ngIf="showAddConge" (newConge)="onNewConge($event)"></app-add-conge>
</div>
